$color-background: linear-gradient(90deg, #f0f6f0, #cea0b785, #db9ebb70);
$color-but: linear-gradient(to left, #743ad5, #d53a9d);
$color-sidebar: linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);


$box-shadow: 0 4px 10px rgba(0,0,0, .1);
$content-width: 1500px;