.footer {
    box-shadow: 0 4px 10px rgba(0,0,0, 0.76);
   
}


.rss-logo img {
    width: 100px;
    height: 40px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    
}
.footer-nav li {
    margin-right: 20px;
    font-family: 'Bebas Neue';
    font-size: 25px;
}