

    .side-bar {
        height: 700px;
        box-shadow: 0 7px 20px rgba(0,0,0, .1);
        width: 350px;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background:  linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
        linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);;
        
        
    }
    .category {

        border: 1px solid blueviolet;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5%;
        display: block;
        width: 280px;
        margin:  10px 20px;
        
        background: rgba(213, 208, 208, 0.578);

}

.tittle {
    color:white;
    text-align: center;
    margin: 5px;
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-top: 10px;
}
.brand {

    border: 1px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5%;
    display: block;
    width: 280px;
    margin:  10px 20px;
    
    background: rgba(213, 208, 208, 0.578);

}

.filter {
    font-family: 'Montserrat';
    font-size: 18px;
}
.containerOfSliders {
    border: 1px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5%;
    display: block;
    width: 280px;
    margin:  10px 20px;
    
    background: rgba(213, 208, 208, 0.578);
}
.containerOfSearch {
}
.search {
}
.sort-select {
}
.products {
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    margin: 15px 30px;
    height: 8px;
    border-radius: 5px;  
    background: whitesmoke;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #b446af;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #afb714;
    cursor: pointer;
}

.search {
    width: 280px;
    height: 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
.sort-select {
    background-color: antiquewhite;
    margin-left: 20px;
    width: 280px;
    border-radius: 10px;
    height: 25px;
}
 label {
    font-size: 20px;
    font-family: 'Popins';
    margin-left: 20px;
}
#fromSlider {
    height: 0;
    z-index: 1;
    margin-top: 20px;
  }
  h3 {
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-top: 10px;
  }